body {
  background: linear-gradient(to bottom, black, red, green);
  color: white;
}

.header, .footer {
  background-color: black;
  padding: 20px 0;
}

.hero-section {
  padding: 60px 0;
}

.card img {
  height: 150px;
  object-fit: cover;
}

.contact-form {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.divider {
  height: 5px;
  background-color: rgb(35, 30, 189);
}

.about-card {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.about-card-img {
  width: 50%;
}

.about-card-text {
  width: 50%;
}
